In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

In [2]:
from alpha_vantage.timeseries import TimeSeries

In [3]:
ts = TimeSeries(key = 'L5X8VE1DRKNOBKAL', output_format ='pandas')

In [4]:
GOOGL_av, metadata =ts.get_daily_adjusted('PG',outputsize='full')
GOOGL_av

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
date,,,,,,,,
2020-07-14,123.99,125.66,123.50,125.09,125.0900,6223814.0,0.0,1.0
2020-07-13,124.00,125.58,123.34,124.05,124.0500,6147600.0,0.0,1.0
2020-07-10,122.57,124.50,122.47,123.89,123.8900,6752400.0,0.0,1.0
2020-07-09,122.82,123.98,121.81,122.48,122.4800,5340500.0,0.0,1.0
2020-07-08,122.15,123.24,122.00,122.89,122.8900,6493400.0,0.0,1.0
...,...,...,...,...,...,...,...,...
2000-07-18,56.19,58.25,56.00,58.25,17.0831,4492400.0,0.0,1.0
2000-07-17,56.25,57.25,56.06,56.13,16.4613,3970600.0,0.0,1.0
2000-07-14,54.75,56.25,54.69,56.00,16.4232,5047100.0,0.0,1.0
2000-07-13,55.25,55.44,54.31,54.56,16.0009,3649500.0,0.0,1.0
2000-07-12,54.88,55.50,54.19,55.13,16.1681,4266600.0,0.0,1.0

In [5]:
from alpha_vantage.timeseries import TimeSeries
ts = TimeSeries (key = 'L5X8VE1DRKNOBKAL', output_format='pandas')
FB_av, metadata =ts.get_daily_adjusted('FB', outputsize='full')
FB_av

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
date,,,,,,,,
2020-07-14,236.76,240.33,232.03,239.7300,239.7300,23238754.0,0.0,1.0
2020-07-13,247.00,250.15,238.42,239.0000,239.0000,24332200.0,0.0,1.0
2020-07-10,243.69,245.49,239.32,245.0700,245.0700,22982700.0,0.0,1.0
2020-07-09,245.00,246.53,239.24,244.5000,244.5000,22175100.0,0.0,1.0
2020-07-08,238.11,246.99,236.59,243.5800,243.5800,29793200.0,0.0,1.0
...,...,...,...,...,...,...,...,...
2012-05-24,32.95,33.21,31.77,33.0300,33.0300,50237200.0,0.0,1.0
2012-05-23,31.37,32.50,31.36,32.0000,32.0000,73600000.0,0.0,1.0
2012-05-22,32.61,33.59,30.94,31.0000,31.0000,101786600.0,0.0,1.0
2012-05-21,36.53,36.66,33.00,34.0300,34.0300,168192700.0,0.0,1.0
2012-05-18,42.05,45.00,38.00,38.2318,38.2318,573576400.0,0.0,1.0

In [13]:
from alpha_vantage.timeseries import TimeSeries
ts = TimeSeries(key = 'L5X8VE1DRKNOBKAL', output_format='pandas')
GSPC_av, metadata = ts.get_daily_adjusted('^GSPC', outputsize='full')
GSPC_av

ValueError: Error getting data from the api, no return was given.

In [16]:
pfolio_av=pd.concat([GOOGL_av['5. adjusted close'],FB_av['5. adjusted close']],axis=1)
pfolio_av

            5. adjusted close  5. adjusted close
date
2000-07-12            16.1681                NaN
2000-07-13            16.0009                NaN
2000-07-14            16.4232                NaN
2000-07-17            16.4613                NaN
2000-07-18            17.0831                NaN
...                       ...                ...
2020-07-08           122.8900             243.58
2020-07-09           122.4800             244.50
2020-07-10           123.8900             245.07
2020-07-13           124.0500             239.00
2020-07-14           125.0900             239.73

[5033 rows x 2 columns]

In [18]:
pfolio_av.columns= ['GOOGL','FB']
pfolio_av

               GOOGL      FB
date
2000-07-12   16.1681     NaN
2000-07-13   16.0009     NaN
2000-07-14   16.4232     NaN
2000-07-17   16.4613     NaN
2000-07-18   17.0831     NaN
...              ...     ...
2020-07-08  122.8900  243.58
2020-07-09  122.4800  244.50
2020-07-10  123.8900  245.07
2020-07-13  124.0500  239.00
2020-07-14  125.0900  239.73

[5033 rows x 2 columns]